.row{
    background-color: aliceblue;
    border-radius: 3rem;
    padding: 3rem 5rem;
    -webkit-box-shadow: -1px 0px 20px 0px rgba(86,86,87,1);
    -moz-box-shadow: -1px 0px 20px 0px rgba(86,86,87,1);
    box-shadow: -1px 0px 20px 0px rgba(86,86,87,1);
    max-width: 70%;
    margin: 0 auto;
    animation: slideup 1s ease-in-out, fadein 1.25s ease-in-out 0s 1;

}

.login-form{
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}

.login-form h3{
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}

.form-group input{
    margin-top: 2rem;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    border-radius: 3rem;
    outline: 0;
    border: none;
    box-shadow: 0 0 1rem 0.15rem rgba(0,0,255,.1);
    font-size: 1rem;
    color: #131f69;
}

.signup-button{
    border-radius: 3rem;
    border: none;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    color: #fff;
    outline: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.message a{
    color: rgb(69, 86, 236);
}

.message a:hover{
    text-decoration: none;
}