<aside class="side-menu" [ngClass] = "{'side-menu-show': sideNavActive}">
    <nav class="slide-menu" [ngClass] = "{'slide-menu-show': sideNavActive}">
        <section class="menu-header">
            <h4 class="welcome-text">Hello There</h4>
            <div class="user-profile row">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1526621553736-d0cfb8b59b76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                    alt="user-profile-image" 
                    class="profile-image">
                </div>
                <div class="user-details col-md-8">
                    <h5 class="user-name">Ritik Kumar</h5>
                    <h6 class="user-email">ritik.kumar006@gmail.com</h6>
                </div>
            </div>
        </section>
        <section class="menu-content">
            <div class="nav-routes">
                <a [routerLink] = "['/']" (click) = "toggleNav()">Home</a>
                <a [routerLink] = "['/']" (click) = "toggleNav()">Logout</a>
            </div>
        </section>
    </nav>
</aside>

<div class="root-container" [ngClass] = "{'.bg-dark-mode': darkMode, '.bg-light-mode': !darkMode}">
    <header class="main-header">
        <div class="left-section d-flex justify-content-between">
            <div id="hamburger-icon">
                <button (click) = "toggleNav()" ><span><i class="fas fa-bars"></i></span></button>
            </div>
            <h3 class="logo">Pearl</h3>
        </div>
        <div class="middle-section">
            <div class="search-city-wrapper d-flex">
                <form #inputCity = "ngForm" (ngSubmit) = "onGetCity(inputCity)">
                    <input type="text" 
                    class="search-city-input" 
                    placeholder="Search City" 
                    name = "cityName"
                    ngModel
                    required>
                    <button class="search-city-button" [disabled] = "!inputCity.valid">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </form>
                
            </div>
            
        </div>
        <div class="right-section"> 
            <div class="user-name">
                <h4>Ritik Kumar</h4>
            </div>
        </div>
    </header>
        <main class="main-container">
            <router-outlet></router-outlet>
        </main>


    
</div>