<aside class="side-menu" [ngClass] = "{'side-menu-show': sideNavActive}" *ngIf = "user">
    <nav class="slide-menu" [ngClass] = "{'slide-menu-show': sideNavActive}">
        <section class="menu-header">
            <h4 class="welcome-text">Hello There</h4>
            <div class="user-profile row justify-content-center">
                <div class="col-sm-4 col-8">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" 
                    alt="user-profile-image" 
                    class="profile-image"> 
                </div>
                <div class="user-details col-sm-8">
                    <h5 class="user-name">{{user.displayName}}</h5>
                    <h6 class="user-email">{{user.email}}</h6>
                </div>
            </div>
        </section>
        <section class="menu-content">
            <div class="nav-routes">
                <a [routerLink] = "['/']" [routerLink] = "['/home']" (click) = "toggleNav()">Home</a>
                <a [routerLink] = "['/']" (click) = "logout()">Logout</a>
            </div>
        </section>
    </nav>
</aside>

<div class="root-container">
    <header class="main-header" *ngIf = "user">
        <div class="left-section d-flex justify-content-between">
            <div id="hamburger-icon">
                <button (click) = "toggleNav()" ><span><i class="fas fa-bars"></i></span></button>
            </div>
            <h3 class="logo">Pearl</h3>
        </div>
        <div class="middle-section">
            <div class="search-city-wrapper d-flex">
                <form #inputCity = "ngForm" (ngSubmit) = "onGetCity(inputCity)">
                    <input type="text" 
                    class="search-city-input" 
                    placeholder="Search City" 
                    name = "cityName"
                    ngModel
                    required>
                    <button class="search-city-button" [disabled] = "!inputCity.valid">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </form>
                
            </div>
            
        </div>
        <div class="right-section"> 
            <div class="user-name">
                <h4>{{user.displayName}}</h4>
            </div>
        </div>
    </header>
        <main class="main-container">
            <router-outlet></router-outlet>
        </main>


    
</div>