

.container-fluid{
    background-color: #fff;
    cursor: pointer;
    border-radius: 2rem;
    text-align:center;
    padding: 2rem 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-box-shadow: -3px 2px 29px -4px rgba(87,101,250,1);
    -moz-box-shadow: -3px 2px 29px -4px rgba(87,101,250,1);
    box-shadow: -3px 2px 29px -4px rgba(87,101,250,1);
    animation: slideup 1s ease-in-out, fadein 1.25s ease-in-out 0s 1;
}

.bg-night{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: #fff;
}

h4, h5{
    font-weight: 400;
    font-size: 1.2  rem;
}

.weather-icon {
    font-size: 7rem;
}

.main-temp h3{
    font-size: 2.5rem;
}

.min-max-temp{
    text-transform: none;
}